git+https://github.com/pyrogram/pyrogram@master
tgcrypto
youtube-search
git+https://github.com/yt-dlp/yt-dlp@master
py-tgcalls==0.8.1rc1
python-dotenv
requests
aiohttp
aiofiles
asyncio
ffmpeg-python
pillow
future
psutil
wget
motor
pymongo
dnspython
heroku3
gitpython
search_engine_parser
regex
bs4
tswift
python-telegram-bot==12.8
telegraph
telegram
pykeyboard
httpx==0.13.3
lyricsgenius
hachoir
pafy==0.5.5
speedtest-cli
cryptography
TgCrypto
ffmpeg-python
pytube
hurry.filesize
pyromod
uvloop
solidAPI==0.1.8.9
python-arq
youtube-search-python==1.4.9
pytz
aiohttp-session

heroku3
